---
import './toggle.css';
import './dark.css';

interface Props {
    condensedClass: string;
}

const { condensedClass } = Astro.props;
---

<script>
    const toggleDarkMode = () => {
        const DARK_CLASS = 'dark';

        const container = document.querySelector('html');
        if (container?.classList.contains(DARK_CLASS)) {
            setCookie('theme', 'light', 365);
            container.classList.remove(DARK_CLASS);
        } else {
            setCookie('theme', 'dark', 365);
            container?.classList.add(DARK_CLASS);
        }
    };

    const setCookie = (name: string, value: string, days: number) => {
        const d = new Date();
        d.setTime(d.getTime() + 24 * 60 * 60 * 1000 * days);
        document.cookie =
            name +
            '=' +
            value +
            ';path=/;SameSite=strict;expires=' +
            d.toUTCString();
    };

    function toggleSwitch() {
        if (document.querySelector('html')?.classList.contains('dark')) {
            document
                .querySelectorAll<HTMLInputElement>('.dark-mode-toggle')
                .forEach((ti) => (ti.checked = true));
        }
    }

    window.addEventListener('DOMContentLoaded', toggleSwitch);

    const toggles = document.querySelectorAll('#toggle');

    for (const toggle of toggles) {
        toggle.addEventListener('click', toggleDarkMode);
    }
</script>

<div class={`about-footer ${condensedClass}`}>
    <p>
        Dark Mode
        <i class="icon-moon"></i>
        <label for="dark-mode-toggle" class="switch">
            <input
                id="dark-mode-toggle"
                name="dark-mode-toggle"
                title="checkbox"
                type="checkbox"
                class="dark-mode-toggle"
                placeholder=" "
            />
            <span class="slider round" id="toggle"></span>
        </label>
    </p>
</div>
