---
import Search from '../components/Search/Search.astro';
import getPosts from '../getPosts';
import Layout from '../layouts/Layout.astro';
import plainwhiteConfig from '../plainwhite.config';

const posts = await getPosts();

const { show_excerpts } = plainwhiteConfig;
---

<Layout title="Welcome to Astro." pageType="home">
    <ul class="posts">
        <li class="posts-labelgroup" id="posts-labelgroup">
            <h1 id="posts-label">posts</h1>
            <Search />
        </li>

        {
            posts.map((p) => (
                <li>
                    <a class="post-link" href={`${p.slug}`}>
                        <h2 class="post-title">{p.data.title}</h2>
                    </a>
                    <div class="post-meta">
                        <div class="post-date">
                            <i class="icon-calendar" />
                            {`${p.data.date.split(' ')[0]}`}
                        </div>
                        {p.data.categories.length && (
                            <ul class="post-categories">
                                {p.data.categories
                                    .split(' ')
                                    .map((c: string) => (
                                        <li>{c}</li>
                                    ))}
                            </ul>
                        )}
                    </div>
                    <div class="post">
                        <p>{show_excerpts && p.data.excerpt}</p>
                    </div>
                </li>
            ))
        }
    </ul>
</Layout>
